.box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
.nav {
    padding: 10px 10px 10px 30px;
    width: 900px;
    box-sizing: border-box;
  }

.link {
  &_active {
    color: #ec1010;

    &:hover {
      color: #ec1010;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}