.box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
.nav {
    padding: 10px 10px 10px 30px;
    width: 900px;
    box-sizing: border-box;
  }